<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.PersonMapper">
	<sql id="personfield">
		name,age,email,id
	</sql>
	<insert id="insertAPerson1">
		insert into person(
		<include refid="personfield"></include>
		) values ( #{name}, #{age},#{email},#{id} )
	</insert>
	<insert id="insertAPerson" parameterType="Person">
		insert into person(name,age,email,id) values ( #{person.name}, #{person.age},#{person.email},#{person.id} )
	</insert>
	<insert id="insertPersons" parameterType="java.util.List" >
		insert into person(name,age,email,id) values 
		<foreach collection="persons" item="item" index="index" separator="," >
		( #{item.name}, #{item.age},#{item.email},#{item.id} )
		</foreach>
	</insert>
	<resultMap type="Person" id="Per">
		<result column="id" property="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
		<result column="name" property="name"/>
		<result column="age" property="age"/>
		<result column="email" property="email"/>
	</resultMap>
	<parameterMap id="parameterMapPerson" type="Person" >
		<parameter property="id" resultMap="Per" mode="INOUT"/>
		<parameter property="name" resultMap="Per" mode="INOUT"/>
		<parameter property="" resultMap="Per" mode="INOUT" />
	</parameterMap>
	<insert id="insertPersons2" parameterMap="parameterMapPerson">
		
	</insert>
	<delete id="deletePerson">
		delete from person where id = ${id}
	</delete>
	<select id="selectAPerson" resultType="Person">
		select
		<include refid="personfield"></include>
		
		from person where id = #{id}
	</select>
	
	<select id="selectPersons" resultType="Person">
		select <include refid="personfield"></include> from person where id > #{id}
	</select>
	<select id="selectPersons1" resultMap="Per">
		select <include refid="personfield"></include> from person where id > #{id}
	</select>
	<update id="modName">
		update person set name = #{name} where id = #{id}
	</update>
	
</mapper>